<header class="header">
  <div class="logo">
    <a href="/">
      <img class="img-logo" src="{{ '/assets/icons/logo512.png' | relative_url }}" 
           alt="Baker 7 Logo">
    </a>
  </div>
  <nav class="nav" id="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#products">Products</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <button id="nav-toggle" aria-label="Toggle navigation">
  <span id="toggle-icon">☰</span>
</button>
</header>
